<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addition</title>
</head>
<body>
<form method="post" action="/addData/">
    <table>
        <tr>
            <td>Enter first number:</td>
            <td><input type="integer" name="num1"/></td>
        </tr>
        <tr>
            <td>Enter your email:</td>
            <td><input type="integer" name="num2"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Add numbers</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>