<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter your firstname</title>
</head>
<body>
<form method="post" action="/getQual/">
    <table>
        <tr>
            <td>Enter first name:</td>
            <td><input type="text" name="firstName" value="{{ firstName }}" readonly/></td>
        </tr>
        <tr>
            <td>Enter last name:</td>
            <td><input type="text" name="lastName" value="{{ lastName }}" readonly/></td>
        </tr>
        <tr>
            <td>Enter qualification:</td>
            <td><input type="text" name="qual"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>